.post h3{
  color: rgba(54, 49, 53, 0.466);
  display: flex;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.paragraph{
  color: rgb(6, 4, 7);
  justify-content: center;
}

body {
  background-color: #e25fee; /* Couleur de départ */
  transition: background-color 1s ease;  
}


@keyframes gradientAnimation {
  0% {
    background-color: #ff2bca; 
  }
  50% {
    background-color: #e074c0; 
  }
  100% {
    background-color: #f758b4; 
  }
}

body {
  animation: gradientAnimation 7s infinite; /* Utilisation des keyframes pour l'animation */
}